@import "./css/index.css";

html{
  background-image: url("./images/backgroundTexture.jpg");
  overflow-y: hidden;
}

.header{
  height: 10%;
  width: 100%;

}

.Logo{
  height: 63px;
  width: 63px;
  margin-top: 1.5%;
  margin-left: 5%;
}